<div class="homepage-back">

  <!--  end of content-->
  <canvas #backgroundCanvas></canvas>
  <svg class="star-overlay-svg" aria-hidden="true">
    <circle *ngFor="let star of stars"
            (click)="makeItRed(star)"
            [ngClass]="{ 'hidden': star.hidden }"
            [attr.cx]="star.cx"
            [attr.cy]="star.cy"
            [attr.r]="star.r"
            [attr.fill]="star.color"
    />

    <g *ngFor="let planet of planets">
      <circle
              [class.hidden]="planet.hidden"
              [attr.cx]="planet.pixelX"
              [attr.cy]="planet.pixelY"
              [attr.r]="planet.r"
              [attr.fill]="planet.name === 'Moon' ? 'url(#half-moon-gradient)' : planet.color"
      ></circle>
      <text
              [class.hidden]="planet.hidden"
              [attr.x]="planet.pixelX"
              [attr.y]="planet.pixelY"
              [attr.dx]="planet.r + 8"
              class="planet-label"
      >{{planet.name}}</text>
    </g>
  </svg>

  <div class="legend">
    <div *ngFor="let planet of planets" class="legend-item">
      <span class="legend-color" [style.background-color]="planet.color"></span>
      <span class="legend-name">{{planet.name}}</span>
    </div>
  </div>
</div>
