:host {
  display: block;
  height: 100%;
  width: 100%;
}

.homepage-back {
  height: 100%;
  width: 100%;
  position: relative; /* Establishes a positioning context for the canvas */
  isolation: isolate; /* Prevents z-index issues with elements outside this component */
}

canvas,
.star-overlay-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Places the background elements behind other content */
}

p {
  margin: 0;
}

/* Style for hiding SVG elements */
.star-overlay-svg .hidden {
  display: none;
}
